// Filter section styles

.lnd-filter {
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 8rem;
	padding-bottom: 14rem;
	background-color: white;

	&__heading {
		@extend %heading_level_2;
		@extend %heading_dark;
		width: 100%;

		@media (max-width: 375px) {
			margin-bottom: 2rem;
		}
	}

	&__header-row {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 6rem;
	}

	&__text {
		@extend %text_intro;
		@extend %text_dark;
		padding-right: 2.5rem;
	}

	&__reset {
		@extend %button_secondary_outline;
	}
}

// Cable type
.lnd-cable-type {
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	margin-bottom: 6rem;

	@media (max-width: 1024px) {
		width: 85%;
	}
	@media (max-width: 768px) {
		width: 100%;
	}

	&__heading {
		@extend %heading_level_4;
		@extend %heading_dark;
		width: 100%;
		margin-bottom: 4rem;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, 10.5rem);
		grid-gap: 3rem;
		width: 100%;
		justify-content: space-between;

		@media (max-width: 768px) {
			grid-template-columns: repeat(auto-fill, 9rem);
		}
		@media (max-width: 320px) {
			grid-template-columns: repeat(auto-fill, 8.5rem);
			grid-gap: 1.5rem;
		}
	}

	&__image {
		margin-bottom: 1rem;
	}

	&__item {
		width: 10.5rem;
		list-style-type: none;

		@media (max-width: 320px) {
			width: 9rem;
		}
	}

	&__label {
		@extend %text_dark;
		cursor: pointer;
		font-size: 1.3rem;

		&:hover {
			color: $color-primary;
		}
	}

	&__input {
		display: none;
	}
}

// Cable preview
.lnd-cable-preview {
	position: relative;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 6rem;

	@media (max-width: 768px) {
		margin-bottom: 8rem;
	}

	&__cord {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
	}

	&__plug-1,
	&__plug-2 {
		@media (max-width: 768px) {
			width: 14.5rem;
		}
		@media (max-width: 414px) {
			width: 10rem;
		}
	}
}

.lnd-cord {
	&__form {
		width: 100%;
		height: 2rem;
		background-color: $color-grey-lightest;

		@media (max-width: 768px) {
			height: 1.8rem;
		}
		@media (max-width: 414px) {
			height: 1.2rem;
		}

		&.active {
			background-image: linear-gradient(0deg, #161616 10%, #bfbfbf 75%, #a8a8a8 90%);
		}
	}
	// Cord colors buttons
	&__colors {
		position: absolute;
		bottom: 0;
		display: flex;
		width: 40%;
		justify-content: space-between;

		@media (max-width: 768px) {
			width: 50%;
			bottom: -2.5rem;
		}
		@media (max-width: 414px) {
			width: 100%;
			bottom: -2rem;
		}
	}

	&__color-item {
		width: 2rem;
	}

	&__input {
		appearance: none;
	}

	// Radio button styles
	&__radiomark {
		position: absolute;
		bottom: 0;
		width: 2rem;
		height: 2rem;
		border-radius: 100%;
	}

	&__radiomark::after {
		content: '';
		position: absolute;
		bottom: 0rem;
		left: 0rem;
		width: 2rem;
		height: 2rem;
		border-radius: 100%;
		box-shadow: 0 0 0 0.2rem transparent;
	}

	&__input:hover ~ &__radiomark::after {
		box-shadow: 0 0 0 0.2rem $color-grey-light;
		transition: box-shadow 0.5s ease-out;
	}

	&__input:focus ~ &__radiomark::after {
		box-shadow: 0 0 0 0.2rem $color-grey-light;
	}

	&__input:checked ~ &__radiomark::after {
		box-shadow: 0 0 0 0.2rem $color-primary;
		transition: box-shadow 0.5s ease-out;
	}

	// Colors
	&__black {
		background-color: $color-grey-darkest;
		box-shadow: 0 0.2rem 0.4rem rgba($color: #161616, $alpha: 0.5);
	}
	&__grey {
		background-color: $color-grey;
		box-shadow: 0 0.2rem 0.4rem rgba($color: #a7a8a8, $alpha: 0.5);
	}
	&__white {
		background-color: white;
		box-shadow: 0 0.1rem 0.5rem rgba($color: #d8d9d9, $alpha: 0.5);
	}
	&__red {
		background-color: #e64545;
		box-shadow: 0 0.2rem 0.4rem rgba($color: #e64545, $alpha: 0.5);
	}
	&__orange {
		background-color: #e6b045;
		box-shadow: 0 0.2rem 0.4rem rgba($color: #e6b045, $alpha: 0.5);
	}
	&__yellow {
		background-color: #e6e645;
		box-shadow: 0 0.2rem 0.4rem rgba($color: #e6e645, $alpha: 0.5);
	}
	&__green {
		background-color: #45e645;
		box-shadow: 0 0.2rem 0.4rem rgba($color: #45e645, $alpha: 0.5);
	}
	&__blue {
		background-color: #45e6e6;
		box-shadow: 0 0.2rem 0.4rem rgba($color: #45e6e6, $alpha: 0.5);
	}
	&__navy {
		background-color: #457ae6;
		box-shadow: 0 0.2rem 0.4rem rgba($color: #457ae6, $alpha: 0.5);
	}
	&__purple {
		background-color: #9545e6;
		box-shadow: 0 0.2rem 0.4rem rgba($color: #9545e6, $alpha: 0.5);
	}
	&__pink {
		background-color: #e645cb;
		box-shadow: 0 0.2rem 0.4rem rgba($color: #e645cb, $alpha: 0.5);
	}
}

// Filter settings
.lnd-filter-settings {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;

	&__heading {
		@extend %heading_level_4;
		@extend %heading_dark;
		width: 100%;
		margin-bottom: 2rem;
	}

	&__plug-1 {
		width: 20%;
		order: 1;

		@media (max-width: 414px) {
			width: 100%;
			margin-bottom: 4rem;
		}
	}

	&__plug-2 {
		width: 20%;
		order: 3;

		@media (max-width: 414px) {
			width: 100%;
			margin-bottom: 4rem;
			order: 2;
		}
	}

	&__cable {
		width: 40%;
		order: 2;

		@media (max-width: 768px) {
			width: 50%;
		}
		@media (max-width: 414px) {
			width: 100%;
			order: 3;
		}
	}

	&__lenght {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 4rem;
	}

	&__from {
		@extend .lnd-input_dark;
		width: 8rem;
	}

	&__to {
		@extend .lnd-input_dark;
		width: 8rem;
		margin-bottom: 1.5rem;
	}

	&__range {
		width: 100%;
	}

	&__material {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__select {
		@extend %lnd-select_dark;
	}
}
