// Section Banner with Form styles

.lnd-form-banner {
	position: relative;
	padding-top: 8rem;
	padding-right: 6rem;
	padding-bottom: 8rem;
	padding-left: 6rem;
	background-repeat: no-repeat;
	background-color: $color-grey-darkest;
	background-position-x: right;

	@media (max-width: 768px) {
		padding-left: 3rem;
	}

	&::after {
		position: absolute;
		content: url(../img/photo-cables-form.min.png);
		content: -webkit-image-set(url(../img/photo-cables-form.min.png) 1x, url(../img/photo-cables-form@2x.min.png) 2x);
		right: 0;
		top: -5rem;

		@media (max-width: 768px) {
			right: -13rem;
			top: 12.5rem;
		}
		@media (max-width: 736px) {
			right: -13rem;
			top: 5.6rem;
		}
		@media (max-width: 414px) {
			content: url(../img/photo-cables-form_mobile.min.png);
			content: -webkit-image-set(
				url(../img/photo-cables-form_mobile.min.png) 1x,
				url(../img/photo-cables-form_mobile@2x.min.png) 2x
			);
			top: initial;
			right: initial;
			bottom: -0.7rem;
			left: 0rem;
		}
	}

	@media (max-width: 1024px) {
		// padding-left: 3rem;
	}
	@media (max-width: 414px) {
		padding-right: 2.5rem;
		padding-left: 2.5rem;
		padding-bottom: 30rem;
	}

	&__info {
		display: flex;
		flex-wrap: wrap;
		width: 68%;

		@media (max-width: 1024px) {
			width: 60%;
		}
		@media (max-width: 414px) {
			width: 100%;
		}
	}

	&__heading {
		@extend %heading_level_2;
		@extend %heading_light;
		width: 100%;
		margin-bottom: 2rem;
	}

	&__text {
		@extend %text_intro;
		@extend %text_light;
		hyphens: none;
		margin-bottom: 2.7rem;
	}

	// Form
	&__form {
		width: 100%;

		@media (max-width: 768px) {
			width: 80%;
		}
		@media (max-width: 414px) {
			width: 100%;
		}
	}

	&__inputs {
		display: flex;
		flex-wrap: wrap;

		@media (max-width: 768px) {
			width: 100%;
		}
	}

	&__label-phone {
		width: 39rem;
		margin-right: 3rem;

		@media (max-width: 1024px) {
			width: 30rem;
		}
		@media (max-width: 768px) {
			width: 100%;
			margin-right: 0;
			margin-bottom: 3rem;
		}
	}

	&__phone {
		@extend .lnd-input_light;
		width: 100%;

		&::placeholder {
			color: $color-grey-light;
		}

		@media (max-width: 768px) {
			width: 100%;
		}
	}

	&__submit {
		width: 26rem;
		margin-bottom: 2rem;

		@media (max-width: 1024px) {
			width: 20rem;
		}
		@media (max-width: 768px) {
			width: 100%;
		}
	}

	&__submit-button {
		@extend %button_light;
		width: 100%;

		@media (max-width: 768px) {
			width: 100%;
		}
	}

	&__personal-data {
		@extend %text_light;
	}
}
